@import "../../../styles/presets";
@import "../../../styles/hover-effects";

.calendar {
  .title-container {
    margin-bottom: 16px;
    text-align: end;
    box-sizing: border-box;

    .title {
      display: inline-block;
      color: white;
      font-size: small;
      font-weight: bold;
      background-color: #333;
      border-radius: 0 $borderRadius;
      padding: 16px;
    }
  }

  .view-container {
    @extend .default-padding;

    .week-day {
      padding: 16px;
      margin: 8px;
      color: white;
      font-weight: bold;
      background-color: #333;

      @extend .box-shadow;
      @extend .rounded-border;
    }

    .week-view {
      width: 100%;
      padding: 4px;
      border-spacing: 4px 12px;

      @extend .hover-pointer;

      .day-card-week {
        max-width: 32px;
        max-height: 32px;
        margin: 12px;
        padding: 8px;

        @extend .box-shadow;
        @extend .rounded-border;
      }
    }

    .month-view {
      width: 100%;
      padding: 4px;
      border-spacing: 4px 12px;

      @extend .hover-pointer;

      .week-row {
        @extend .clickable;

        .day-card-month {
          max-width: 32px;
          max-height: 32px;
          margin: 12px;
          padding: 8px;

          @extend .box-shadow;
          @extend .rounded-border;
        }
      }
    }
  }
}
