@import "../../../styles/presets";
@import "../../../styles/hover-effects";

.recommendations {
  @extend .box-shadow;
  @extend .rounded-border;

  .title {
    font-weight: bold;
    background-color: $primary;
    color: white;
    padding: 16px;

    @extend .rounded-border;
  }

  .recommendation-container {
    max-height: 75vh;
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;
    justify-content: center;
    overflow-y: auto;

    @extend .default-padding;

    .anime-card {
      width: 120px;
    }

    .load-more {
      width: 90%;
      background-color: $primary;
      padding: 16px;
      color: white;
      font-weight: bold;
      margin: 24px auto;

      @extend .rounded-border;
      @extend .clickable;
    }
  }
}
