@import "../../../styles/presets";
@import "../../../styles/keyframes";
@import "../../../styles/hover-effects";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.5);
  padding: 90px 20px;
}

.modal {
  margin: auto;
  background-color: white;
  text-align: center;
  max-width: 900px;
  width: 85%;
  background-color: white;

  animation: bounce-pop 200ms;

  @extend .rounded-border;
  @extend .default-padding;

  .modal-container {
    position: relative;

    .close-icon-container {
      position: absolute;
      top: 0;
      right: 0;
      max-width: 40px;
      max-height: 40px;
      background-color: $negative;
      display: flex;
      align-items: center;
      justify-content: center;

      @extend .rounded-border;
      @extend .clickable;

      .close-icon {
        max-width: inherit;
        max-height: inherit;

        @extend .icon;
      }
    }
  }
}
