@import "../../../styles/presets";
@import "../../../styles/variables";
@import "../../../styles/hover-effects";

.tabnav {
  display: flex;
  border-top: 1px solid rgba(black, 0.1);
  border-radius: 0 0 $borderRadius * 3 $borderRadius * 3;
  justify-content: space-around;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .tabnav-item {
    font-weight: bold;
    display: flex;
    align-items: center;
    // margin: 0 8px;

    @extend .clickable;
    @extend .default-padding;
  }
}
