.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.edit-icon-container {
  position: relative !important;
}

.edit-icon-container .edit-container {
  @include desktop {
    visibility: hidden;
  }
}

.edit-icon-container:hover .edit-container {
  @include desktop {
    visibility: visible;
  }
}
