@import "mixins";
@import "presets";

// compound
.clickable:hover {
  @extend .unselectable;
  @extend .hover-pointer;
  @extend .active-shrink;
  @extend .hover-grow;
}

.disabled-button {
  background-color: $bgDark !important;

  @extend .hover-disabled;
  @extend .unselectable;
}

// individual

.hover-shadow-inset:hover {
  box-shadow: 0 0 20px #fff inset;
}

.hover-highlight:hover {
  @include desktop {
    color: white;
    background-color: $primaryLight1;
  }
}

.subtle-hover-grow:hover {
  @include desktop {
    transition: 100ms;
    transform: scale(1.02);
  }
}

.hover-grow:hover {
  @include desktop {
    transition: 200ms;
    transform: scale(1.05);
  }
}

.hover-highlight:active {
  color: #fff;
  background-color: $primary;
}

.active-shrink:active {
  transform: scale(0.93);
  box-shadow: 0 0 20px 0 #fff;
}
