@import "./variables.scss";
@import "./mixins.scss";
@import "./hover-cursors";

.rounded-border {
  border-radius: $borderRadius;
}

.circular-border {
  border-radius: 100%;
}

.box-shadow {
  box-shadow: 0em 0em 2px $bgDark;
}

.box-shadow-light {
  box-shadow: 0em 0em 2px lighten($bgDark, 20%);
}

.default-padding {
  padding: $defaultPadding;
}

.default-margin {
  margin: $defaultMargin;
}

.error-text {
  color: $negative;
}

.icon {
  @extend .white-icon;

  padding: 8px;
  height: 24px;
  width: 24px;

  @include mobile {
    padding: 6px;
    height: 18px;
    width: 18px;
  }
}

.white-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(216deg)
    brightness(101%) contrast(102%);
}

.gray-icon {
  filter: invert(96%) sepia(0%) saturate(234%) hue-rotate(197deg)
    brightness(91%) contrast(95%) !important;
}

.unselectable {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
