// COLORS
// $primary: #fee65c;
$primary: #007ae6;

$primaryDark1: darken($primary, 30%);

$primaryLight: lighten($primary, 10%);
$primaryLight1: lighten($primary, 20%);
$primaryLight2: lighten($primary, 30%);

$bgLight: #f0f2f5;
$bgDark: #888888;

$positive: #52ce9c;
$negative: #d20000;
$neutral: #f6bf26;

// SIZES

$defaultPadding: 20px;
$defaultMargin: 16px;
$borderRadius: 8px;
$desktop: 840px;
