@import "../../../styles/mixins";

.kanji-kana {
  max-width: 200px;
  text-align: center;

  @include mobile {
    margin: auto;
  }

  .title {
    font-size: x-large;
    font-weight: bold;
    margin: 8px;

    display: flex;
  }

  .score-list {
    font-size: small;
    text-align: start;
    margin: 8px;

    .score-item {
      display: flex;
      justify-content: space-between;

      .name {
        font-weight: 600;
        margin-right: 16px;
      }
    }
  }
}
