@import "../../../styles/variables";
@import "../../../styles/presets";
@import "../../../styles/hover-effects";
@import "../../../styles/globals";
@import "../../../styles/mixins";

.quiz-modal {
  background-color: $bgLight;

  .loader-container {
    flex: 1;
  }

  .modal-body {
    .sort-by-container {
      background-color: white;

      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 8px;

      .sort-title-container {
        display: flex;
        .sort-title {
          margin-right: 20px;
        }
      }

      .title {
        font-weight: bold;
        font-size: 24px;
      }
    }

    .score-card-container {
      max-height: 75vh;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .quiz-card {
        position: relative;
        background-color: white;
        margin: 16px 8px;
        border-top: 8px solid $primary;
        padding: 16px;
        width: 220px;

        @extend .box-shadow;
        @extend .rounded-border;

        .rank {
          color: white;
          background-color: $primary;
          position: absolute;
          top: 0;
          right: 0;
          border-radius: 0 0 0 12px;
          font-weight: bold;

          @extend .default-padding;
        }

        .user-image {
          height: 120px;
          width: 120px;
          object-fit: cover;

          @extend .rounded-border;
        }

        .user-name {
          font-size: 20px;
          font-weight: bold;
        }

        .user-bio {
          font-size: 12px;
          margin: 16px 0;
        }
      }
    }
  }
}

.kanji-kana {
  max-width: 200px;
  text-align: center;

  @include mobile {
    margin: auto;
  }

  .quiz-scores-container {
    position: relative;

    @extend .rounded-border;
    @extend .edit-icon-container;
    @extend .clickable;

    .title {
      font-size: x-large;
      font-weight: bold;
      margin: 8px;

      display: flex;
    }

    .score-list {
      font-size: small;
      text-align: start;
      margin: 8px;
    }
  }
}

.score-item {
  display: flex;
  justify-content: space-between;

  .name {
    font-weight: 600;
    margin-right: 16px;
  }
}
