@import "../../styles/variables";
@import "../../styles/presets";
@import "../../styles/hover-effects";
@import "../../styles/globals";

#header {
  background-color: white;
  align-items: center;

  .top-line {
    background-color: $primary;
    padding: 8px;
  }
}
