@import "../../../styles/presets";

.loader-container {
  margin: 0 8px;
}

.loader {
  margin: 4em auto;
  border: 1em solid $bgDark;
  border-top: 1em solid white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 1s linear infinite;
}

.mini-loader {
  display: inline-block;
  border: 4px solid $bgDark;
  border-top: 4px solid white;
  border-radius: 100%;
  width: 0.4em;
  height: 0.4em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}