@import "../../../styles/hover-effects";

.discord-modal {
  text-align: center;

  .discord-message {
    font-size: 20px;
    padding: 40px;
    font-weight: bold;

    .register-command {
      font-size: 16px;
      font-weight: normal;
      margin: 20px;

      .copy-command {
        background-color: $primary;
        color: white;
        padding: 8px;
        margin: 0 20px;

        @extend .clickable;
        @extend .rounded-border;
      }
    }
  }

  .discord-link {
    display: block;
    margin: auto;
    max-width: 180px;
    font-size: 20px;
    justify-content: center;
    background-color: $primary;
    color: white;
    text-decoration: none;

    @extend .clickable;
    @extend .rounded-border;
    @extend .default-padding;
  }
}

.account-links {
  @include mobile {
    margin: auto;
  }

  .account-button {
    width: 90vw;
    max-width: 180px;
    display: flex;
    justify-content: center;
    margin: 12px;
    padding: 4px;

    @extend .clickable;
    @extend .rounded-border;

    .account-link-container {
      min-width: 70%;
      color: white;
      font-weight: bold;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .account-icon {
        width: 28px;
        height: 28px;
        margin-right: 12px;
      }
    }
  }
}
