@import "../../../styles/presets";
@import "../../../styles/hover-effects";

.quiz {
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @extend .box-shadow;
  @extend .rounded-border;

  .title-container {
    position: relative;

    .title {
      padding: 16px;
      font-size: small;
      font-style: italic;
    }

    .back-button {
      height: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      border-radius: $borderRadius 0;
      width: 30%;
      max-width: 80px;

      @extend .clickable;

      .back-icon {
        display: block;
        @extend .icon;
      }
    }
  }

  .quiz-choice {
    margin: auto;
    width: 90%;
    max-width: 500px;

    .instruction {
      font-size: large;
    }

    .quiz-choice-card {
      font-weight: bolder;
      margin: 24px 0;
      padding: 24px 32px;
      border-bottom: 4px solid $primary;

      @extend .box-shadow;
      @extend .rounded-border;
      @extend .clickable;
      @extend .hover-highlight;
    }
  }

  .quiz-difficulty {
    @extend .quiz-choice;

    .writing-style {
      font-size: xx-large;
      font-weight: bold;
      margin: 16px;
    }
  }

  .quiz-questions {
    .score-counter {
      font-weight: bold;
      margin: 20px;
    }

    .character-card {
      padding: 20px;
      font-size: 52px;
      font-weight: bolder;
    }

    .choice-card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .choice-card {
        margin: 16px;
        padding: 8px 16px;
        border-bottom: 4px solid $primary;

        @extend .box-shadow;
        @extend .rounded-border;
        @extend .clickable;
        @extend .hover-highlight;
      }
    }
  }

  .spacer {
    padding: 16px;
  }
}
